# === Build ===
/target/
/out/

# Maven Wrapper
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties

# Spring Boot “repackage” JARs (si usas spring-boot-maven-plugin)
/*.jar

# H2 database files
*.mv.db
*.trace.db

# === IDEs ===
# IntelliJ
# Ignorar toda la carpeta .idea
/.idea/**

# Pero no scopes (compartido)
!/.idea/scopes/
!/.idea/scopes/**

/*.iws
/*.iml
/*.ipr

# Eclipse
/.classpath
/.project
/.settings/
/.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
/.vscode/

# === OS y utilidades ===
.DS_Store
Thumbs.db
*.log

# === Optional unignore of nested targets ===
!**/src/main/**/target/
!**/src/test/**/target/
